
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100..700;1,100..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root{
    --font1 : "Roboto", sans-serif;
    --font2 : "IBM Plex Sans", sans-serif;

}

html{
    font-family: var(--font2);
}
.sidebar-menu{
    font-family: var(--font1);
    font-size: 0.9rem;
    font-weight: 400;
    text-transform: uppercase;
}

.notion-button{
    font-family: var(--font1);
    font-size: 0.9rem;
    text-transform: uppercase;
}

.sidebar{
    height: 90vh;
    width: 10vh;
}
.header{
    height: 10vh;
    width: 100%;
    background-color: #49E372 !important;
}

.butao{
    width: 170px;
    height: 50px;
}


.prev {
    width: 100%;
    height: 100%;

}

.custom-gap {
    display: flex;
    flex-direction: column;
    row-gap: 20px; /* Ajuste o valor do espaço */
  }

.text-bg-warning {
    background-color: #fd7e14 !important; /* Bootstrap Orange */
  }